@import url('https://rsms.me/inter/inter-ui.css');

body {
    background-color: #F7FBFE;
    font-family: 'Inter UI', sans-serif;
    color: #01033E;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

h1 {
    letter-spacing: -0.02rem;
}
