body {
    background-color: #F7FBFE;
    color: #01033E;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

h1 {
    letter-spacing: -0.02rem;
}
